<!-- TODO 1 Load Necessary JS files -->
<!-- TODO 2 Turn app to an AngularJS application whose root element is <html> -->

<!-- TODO 3 Demonstrate AngularJS’ data binding feature by accepting a user name and -->
<!-- TODO 3 instantaneously displaying name as it is being typed  -->

<!-- TODO 4 Demonstrate data binding feature by accepting a color from user and changing -->
<!-- TODO 4 background color whenever a valid value is entered -->


<!DOCTYPE html>

<!-- TODO: 2.1 Designate <html> as the app's root element -->
<!-- By using the ng-app directive, we turn the app to an AngularJS app -->
<!-- <html> is designated as its root element -->
<html lang="en" ng-app>

<head>
   <meta charset="UTF-8">
   <title>Simple App</title>
</head>

<body>

   <!-- TODO 3.1 Create an input field and bind this to the variable for user name -->
<!-- The ng-model directive binds <input> to the variable ctrl.name-->
<!-- The type attribute specifies the type of <input> element to display -->
<!-- You can use the placeholder attribute to display the field’s expected value -->
<input ng-model="ctrl.name"
       type="text"
       placeholder="Enter name" />

<!-- TODO 4.1 Create an input field and bind this to the variable for color →
<!-- The ng-model directive binds <input> to the variable ctrl.color -->
<!-- The type attribute specifies the type of <input> element to display -->
<!-- You can use the placeholder attribute to display the field’s expected value -->
<input ng-model="ctrl.color"
       type="text"
       placeholder="Enter color" />

<!-- TODO 4.2 Wrap the {{ ctrl.color }} evaluation inside a <div> -->
<!-- TODO 4.3 Configure the <div> so that it’s background color is an  -->
<!-- TODO 4.3 evaluation of ctrl.color -->
<div style="background:{{ ctrl.color }};">
    <!-- TODO 3.2 Use AngularJS expressions (i.e., {{ }} or ng-bind) to evaluate/display -->
    <!-- the value of ctrl.name -->
    <h1>Hello {{ ctrl.name }}</h1>
</div>




<!-- TODO 1.1 Load  js files  -->
<!--  Placed at the end of the document so the pages load faster -->
<!--  Loads the AngularJS library -->
<script src="bower_components/angular/angular.min.js">
</script>

</body>
</html>